@import './variables';

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
* {
    padding: 0;
    margin: 0;
},

.footer {
    @include flexCenter(column);
}